[db.default]
; Important: do not forget to set the charset with "charset=utf8"
dsn = "mysql:dbname=vault;charset=utf8"
user = vault
password = vault

[mailer]
from_address = do-not-reply@automattic.com
from_name = Automattic Vault

[url]
input = https://vault.automattic.com/input
unlock = https://vault.automattic.com/unlock
