[general]

; This is the time in seconds a secret should be kept in the engineer
; session before it is removed forever. Notice that this only control
; secret retention on the vieweing session -- after an engineer
; unlocks the secret, it is always erased from the Vault immediately.
; Default: 60
view_time = 60


[db.default]
; Important:
;
;   * Using a database driver other than "mysql" is not supported
;
;   * Do not forget to set the charset with "charset=utf8"
;
dsn = "mysql:dbname=vault;charset=utf8"
user = vault
password = vault


[mailer]
; This is the e-mail address that all e-mail should be sent from.
from_address = do-not-reply@automattic.com
from_name = Automattic Vault


[url]
; Base URLs only. No trailing slashes.
input = https://vault.automattic.com
unlock = https://vault.automattic.com


[debug]
; Enable mailer debug. Currently, if true the mailer will just
; actually log emails, instead of sending them
mailer = true
