[general]

; This is the time in seconds a secret should be kept in the engineer
; session before it is removed forever. Notice that this only control
; secret retention on the vieweing session -- after an engineer
; unlocks the secret, it is always erased from the Vault immediately.
; Default: 60
view_time = 60


[db.default]
; Important:
;
;   * Using a database driver other than "mysql" is not supported
;
;   * Do not forget to set the charset with "charset=utf8"
;
dsn = "mysql:dbname=vault;charset=utf8"
user = vault
password = vault


[mailer]
; This is the e-mail address that all e-mail should be sent from.
from_address = do-not-reply@automattic.com
from_name = Automattic Vault


[url]
; Base URLs only. No trailing slashes.
input = https://vault.automattic.com
unlock = https://vault.automattic.com


[logging]

; Specify logging levels for the general and audit logs,
; respectively. You can use either the log level name or number. See
; https://github.com/Seldaek/monolog/blob/master/doc/01-usage.md#log-levels
; for a list of supported values.
;
; NOTICE: Setting 'audit_level' to any level above 'notice' is not
; recommended, because the engine will log important audit information
; at this level.
general_level = info
audit_level = notice


[maintenance]

; This is the time a request is allowed to be lying around unseen
; before it is deleted. In other words, after a user input a secret,
; the engineer will have this amount of time to go to the unlock URL
; to see it before it get deleted.
; See http://php.net/manual/en/datetime.formats.relative.php for
; accepted date formats.
expire_answered_requests_after = 3 days

; This control the amount of time an engineer request that is still
; waiting for the user to input the secret will be kept. From a
; security POV, it is not a big deal to have unanswered requests
; floating around, but expiring this is a good idea to avoid confusion
; with subsequent requests sent to the same user.
expire_unanswered_requests_after = 1 day


[debug]
; Enable mailer debug. Currently, if true the mailer will just
; actually log emails, instead of sending them
mailer = false

; Allow input of the same secret several times. Normally, the secret
; can be input only once. Set this to true to remove this restriction.
repeat_secret_input = false

; If enabled, enables the "devel/info" route in the API endpoint,
; which will show information about the request. To access this route
; the app must properly authenticate itself first.
api = false