@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro|Inconsolata");

body {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #444;
}

main {
	max-width: 640px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

h1, h2 {
	font-weight: normal;
}

label {
	font-weight: bold;
	display: block;
}

input[type="submit"] {
	border: none;
	padding: 15px;
	display: block;
	margin: 0 auto;
	font-size: 100%;
	background-color: #d8d8d8;
}

.form-group {
	margin-bottom: 1em;
}

.form-group .help {
	font-size: 90%;
	color: #555;
}

#instructions {
	font-family: Inconsolata, "Lucida Console", Monaco, monospace;
	border-radius: 10px;
	padding: 10px;
	white-space: pre-wrap;
	background-color: #fee;
	margin-bottom: 1em;
}

textarea#secret {
	padding: 10px;
	font-size: 100%;
	margin-bottom: 2em;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

#element-key.form-group label:after {
	content: "*";
	color: red;
}

#element-key.form-group input {
	width: 100%;
	padding: 5px;
	font-size: 110%;
	box-sizing: border-box;
}


#unlocked-secret {
	background-color: #fee;
	padding: 10px;
	border-radius: 10px;
	white-space: pre-wrap;
}
